*
{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
}

header
{
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 40px;
}

img
{
    border-radius: 40px;
    max-height: 400px;
}

.calc
{  
    align-content: center;;
    object-position: center;
    text-align: center;
    max-width: 600px;
}

.creditos
{
    margin-top: 80px;
    margin-bottom: 80px;;
    background-color: #f1f1f1;
    padding: 20px;
    max-width: 600px;
}

.calc2
{
    margin-top: 50px;
    background-color: #f1f1f1;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

container input
{
    padding:5px;
    margin:5px;
}